{% extends "base.html" %}

{% block layout_head_title %}
Privacy - getDelicious
{% endblock %}

{% block extra_css %}
{% load staticfiles %}
<!-- <link rel="stylesheet" href="{% static "css/template.css" %}" /> -->
{% endblock %}

{% block content %}
{% load staticfiles %}

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Privacy Policy Statement</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li><a href="{% url 'home' %}">Home</a>
                            </li>
                            <li>Privacy Policy Statement</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <section>
                    <div class="row">

                        <div class="col-md-12 clearfix">

                            <div id="text-page">

                                <p class="lead">This following document sets forth the Privacy Policy for the <span style="font-family:'Montserrat'; color:#da4d4d;">getdelicious</span> website - www.getdelicious.com.au.</p>
                                <p class="lead"><span style="font-family:'Montserrat'; color:#da4d4d;">getdelicious</span> is committed to providing you with the best possible customer service experience. <span style="font-family:'Montserrat'; color:#da4d4d;">getdelicious</span> is bound by the Privacy Act 1988 (Crh), which sets out a number of principles concerning the privacy of individuals.</p>

                                <hr/>
                                <div class='heading'>
                                    <h4>Collection of your personal information</h4>
                                </div>
                                <p>There are many aspects of the site which can be viewed without providing personal information, however, for access to future getdelicious customer support features you are required to submit personally identifiable information. This may include but not limited to a unique username and password, or provide sensitive information in the recovery of your lost password.</p>

                                <hr/>
                                <div class='heading'>
                                    <h4>Sharing of your personal information</h4>
                                </div>
								<p>We may occasionally hire other companies to provide services on our behalf, including but not limited to handling customer support enquiries, processing transactions or customer freight shipping. Those companies will be permitted to obtain only the personal information they need to deliver the service. getdelicious takes reasonable steps to ensure that these organisations are bound by confidentiality and privacy obligations in relation to the protection of your personal information.</p>

								<hr/>
                                <div class='heading'>
                                    <h4>Use of your personal information</h4>
                                </div>
								<p>For each visitor to reach the site, we expressively collect the following non-personally identifiable information, including but not limited to browser type, version and language, operating system, pages viewed while browsing the Site, page access times and referring website address. This collected information is used solely internally for the purpose of gauging visitor traffic, trends and delivering personalized content to you while you are at this Site.
								From time to time, we may use customer information for new, unanticipated uses not previously disclosed in our privacy notice. If our information practices change at some time in the future we will use for these new purposes only, data collected from the time of the policy change forward will adhere to our updated practices.</p>

								<hr/>
                                <div class='heading'>
                                    <h4>Changes to this Privacy Policy</h4>
                                </div>
								<p>getdelicious reserves the right to make amendments to this Privacy Policy at any time. If you have objections to the Privacy Policy, you should not access or use the Site.</p>

								<hr/>
                                <div class='heading'>
                                    <h4>Accessing Your Personal Information</h4>
                                </div>
								<p>You have a right to access your personal information, subject to exceptions allowed by law. If you would like to do so, please let us know. You may be required to put your request in writing for security reasons. getdelicious reserves the right to charge a fee for searching for, and providing access to, your information on a per request basis.</p>

								<hr/>
								<div class='heading'>
                                    <h4>Contacting Us</h4>
                                </div>
								<p>getdelicious welcomes your comments regarding this Privacy Policy. If you have any questions about this Privacy Policy and would like further information, please contact us by email to <span style="font-family:'Montserrat'; color:#da4d4d;">hungry@getdelicious.com.au</span></p>
								<br/>
                            </div>


                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->


{% endblock %}

{% block extra_js_libs %}
	
{% endblock %}