<nav id="mainNav" class="navbar navbar-default navbar-no-border navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="/">grabmenu</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'about' %}">About</a>
                </li>
                <li>
                    <a href="{% url 'contact' %}">Contact</a>
                </li>
                <li>
                    <a href="{% url 'faq' %}">FAQ</a>
                </li>
                <li>
                    <a href="{% url 'terms' %}">Terms</a>
                </li>
                <li>
                    <a href="#contact"><i class="fa fa-twitter fa-2x" style="color:#4099ff;"></i></a>
                </li>
                <li>
                    <a href="#contact"><i class="fa fa-facebook fa-2x" style="color:#3b5998;"></i></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>